@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  /* Brand Colors */
  --color-primary: #ECEC00;
  --color-secondary: #ECEC80;
  --color-tertiary: #A7E0A0;

  /* Typography */
  --font-sans: var(--font-outfit), ui-sans-serif, system-ui, sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-outfit), sans-serif;
}
